#AUDIT_TYPE=rest_api
#AUDIT_URL=https://localhost:30002/audit
AUDIT_TYPE=noop
AUDIT_PERSON_DATA=true
AUTH_PROVIDER_STORE_FILE=.config/providers.yaml
AUTHORIZER_REST_API_KEY=super_secret_string
AUTHORIZER_REST_API_URL=http://localhost:30001
CORS_ORIGINS=https://localhost:44342
ENVIRONMENT=development
SERVER_URLS=http://localhost:8080
SESSION_COUNTDOWN=5m
SESSION_TIMEOUT=60m
BASE_PATH=/idauth

CLIENT_STORE_FILE=.config/clients.yaml
CLIENT_STORE_API_URL=http://localhost:30001/api/1.0/service-clients
CLIENT_STORE_API_KEY=super_secret_string

INTROSPECTION_URL=https://ha.vraa.gov.lv/STS/VISS.Pfas.STS/oauth2/introspect
INTROSPECTION_CLIENT_ID=uuid
INTROSPECTION_CLIENT_SECRET=very_super_secret_string

USES_AUTHORIZATION_CODE_GRANT=true
SESSION_REQUIRES_ROLE=true